.container {
    height: 100vh;
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    background: white;
    padding: 50px;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  }
  
  h1 {
    color: #ff2e63;
  }
  
  p {
    font-size: 18px;
  }
  